.row{
    background-color: black;
    padding: 30px;
}
h1{
    color:  whitesmoke;
    font-size: 75px;
    text-align: center;
}
.card-header{
    color:darkslateblue
}
.card-text{
    color: #fcfc;
}
h3{
    font-size: large;
    color: #f9004d;
}