<div class="row">
    <span>   
    <h1>Mi Experiencia</h1>    
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>nomExp</h3>
            <p>expscripcionpro</p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            
        </div>
    </div>
    </span>
    <span>
        <div class="container">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>exponombrepro</h3>
                <p>expdescripcionpro</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3  offset-md-1 offset-lg-1 parte2">
                        
            </div>
        </div>
        </span>         
    </div>
    
