<div class="row">
  <h1>Mi Experiencia</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
      <div class="card-header">nOMBREE</div>
      <div class="card-body">
        <h5 class="card-title">DDMMAAAA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
      <div class="card-header">nOMBREE</div>
      <div class="card-body">
        <h5 class="card-title">DDMMAAAA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
      <div class="card-header">nOMBREE</div>
      <div class="card-body">
        <h5 class="card-title">DDMMAAAA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>