.row{
    background-color: black;
    padding: 30px;
    margin-right: -30px;
}
h1{
    color:  whitesmoke;
    font-size: 75px;
	text-align: center;
}

p{
    color: azure;
}
h3{
    font-size: large;
    color: #f9004d;
}