div{
    background-color: black;
    text-align: center ;
    font-family: Monserrat;
}
/*foto perfil bootstrap*/
@media(min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 130%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top:-150px;
    }
} 
@media(max-width: 575px){
        #fotoperfil{
            position: relative;
            width: 70%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 2%;
            top:-40px;
            overflow: hidden;
        }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 20%;
    font-size: 20px;    
}

h1{ 
    font-weight: 400;
    color: #f9004d;
}
p{
    font-weight: lighter;
    color: #fcfc;
 }