<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/anto.jpg" 
        class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Non quaerat a repellendus, 
                nulla, numquam ipsa corporis aliquid consequatur 
                eaque quis qui, sint at alias! Fugit nostrum quo 
                distinctio quaerat quod?
            </p>
        </span>
    </div>
</div>
