.row{
    background-color: rgb(39, 35, 35);
    padding: 30px;
}
footer{
        color: #fefefe;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        text-align: center;        
        box-shadow: 4px -4px 5px #999;
        margin-left: 35em;
    }
